# .NET Core
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# SQLite databases
*.db
*.db-journal
*.db-shm
*.db-wal

# FinTrack Data 
*.keys
